*{
    background-color: aqua;
}

#clockcontainer {
    position: relative;
    align-items: center;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url("clock1.png") no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position: absolute;
    background-color: black; 
    border-radius: 10px;  
    transform-origin: bottom;
}

#hour{
    top: 19%;
    left: 47.9%;
    height: 31%;
    width: 3%;
    
}
#minute{
    height: 35%;
    width: 2%;
    top: 15%;
    left: 48.5%;
    
}
#second{
    height: 37%;
    width: 1%;
    top: 10%;
    left: 49%;
   
}

