*{
    margin: 0%;
    padding: 0;
}

.body{
    background: linear-gradient(90deg,rgb(213, 213, 251),rgb(236, 161, 161),rgb(155, 227, 155));
}

.header{
    margin: auto;
    padding-top: 24%;
    text-align: center;
}

.content{
    width: 16%;
    height: 14%;
    position: fixed;
    padding-top: 7%;
    padding-left: 6%;
    font-size: 22px;
    top: 11px;
    left: 12px;
    background-color: antiquewhite;
}

